@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&family=Overpass:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Overpass", sans-serif;
  background-color: #131518;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.box {
  width: 327px;
  justify-content: center;
  text-align: center;
  height: 360px;
  border-radius: 15px;
  background-color: #232a34;
  padding: 24px;
}
h1 {
  font-weight: 700;
  color: white;
  margin-top: 16px;
  margin-bottom: 7px;
  font-size: 28px;
}
p {
  font-weight: 400;
  color: #969fad;
  font-size: 15px;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #262e38;
  height: 32px;
  border-radius: 22px;
  color: #fc7614;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 168px;
  margin-left: 55px;
}
.image {
  width: 144px;
  height: 96px;
}
@media screen and (min-width: 1440px) {
  .box {
    width: 412px;
    height: 416px;
  }
  .image {
    margin-top: 40px;
    width: 162px;
    height: 108px;
  }
  .rating {
    width: 193px;
    margin-left: 80px;
  }
}
